<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @categorialivro.descricao %>
</p>


<%= link_to 'Edit', edit_categorialivro_path(@categorialivro) %> |
<%= link_to 'Back', categorialivros_path %>
