<h1>Detalhes da Categoria
<%= link_to 'Editar', edit_categorialivro_path(@categorialivro) %>
<%= link_to 'Voltar', categorialivros_path %></h1>

<p id="notice"><%= notice %></p>

<div class="field">
	<label for="descricao">Descrição</label>
	<div class="detail"><%= @categorialivro.descricao %></div>
</div>
