<h2>
Nao consegui carregar os livros aqui.<br><br>
No app/controller/site_controller.rb, no metodo categorias, nao consigo filtro pela coluna categoria_id<br><br>
O codigo HTML eh o mesmo do app/views/site/index.html.erb
</h2>