<html>
<head>
  <link href="site.css" type="text/css" rel="stylesheet" />
</head>
<body>

  <div class="cabecalho">
    <div class="centro">
      <div class="logout">
        <a href="#">Para sair do sistema clique aqui</a>
      </div>
      <div class="logo">
        <img src="" />
      </div>
      <div class="dados">
        <div class="nome">
          Biblioteca Virtual
        </div>
        <div class="usuario">
          Seja bem-vindo Fulano<br />
          <a href="#">Locações Atuais</a> | <a href="#">Histórico</a>
        </div>
      </div>
    </div>
  </div>

  <div class="barraPesquisa">
    <div class="centro">
      <label for="pesquisa">Pesquise pelo Título:</label>
      <input type="text" id="pesquisa" placeholder="Nome do livro" />
      <input type="button" class="button" value="Efetuar Pesquisa" />
    </div>
  </div>

  <div class="conteudo">
    <div class="centro">

      <div class="esquerdo">
        <div class="informa">
          Pesquisa por categoria:
        </div>

        <div class="menu">
          <a href="#">Administração</a>
          <a href="#">Administração</a>
          <a href="#">Administração</a>
          <a href="#">Administração</a>
          <a href="#">Administração</a>
          <a href="#">Administração</a>
          <a href="#">Administração</a>
        </div>


      </div>
      <div class="direito">
        <div class="livro">
          <a href="#">
            <div class="titulo">Livro 1</div>
          </a>
          <div class="editora">Novatec</div>
          <div class="autor">Fulano</div>
          <div class="botao"><a href="#">Detalhes</a></div>          
        </div>
        <div class="livro">
          <div class="titulo">Livro 1</div>
          <div class="editora">Novatec</div>
          <div class="autor">Fulano</div>
          <div class="botao"><a href="#">Detalhes</a></div>
        </div>
        <div class="livro">
          <div class="titulo">Livro 1</div>
          <div class="editora">Novatec</div>
          <div class="autor">Fulano</div>
          <div class="botao"><a href="#">Detalhes</a></div>
        </div>
        <div class="livro">
          <div class="titulo">Livro 1</div>
          <div class="editora">Novatec</div>
          <div class="autor">Fulano</div>
          <div class="botao"><a href="#">Detalhes</a></div>
        </div>
        <div class="livro">
          <div class="titulo">Livro 1</div>
          <div class="editora">Novatec</div>
          <div class="autor">Fulano</div>
          <div class="botao"><a href="#">Detalhes</a></div>
        </div>

      </div>


    </div>
  </div>

  <div class="clear" />

  <div class="rodape">
    <div class="centro">
      Copyright 2012<br />
      Todos os direitos reservados.
    </div>
  </div>

</body>
</html>
